*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1;
    padding: 1;
    background-color: blanchedalmond;
    color: black;
}

header {
    position: fixed;
    background-color: brown;
    width: 100%;
    text-align: center;
    
}

nav li {
    position: relative;
    display: inline;
}
